/* .red{ border:2px solid red; } */
html{padding: 0;margin:0;}
body{background: grey;padding: 0; font-family: 'Roboto', sans-serif;}

.container-fluid_custom{max-width: 1200px;margin-left: auto;margin-right: auto; padding: 0;}
.header{justify-content: space-between;display: inline-flex;padding: 40px 20px 40px 45px;margin-left: auto;margin-right: auto;}
.header_logo{display:inline-flex;padding:15px;}
.headrer-logo-img{border-radius: 50%;width: 50px;height: 50px}
.header-logo-title{font-size: 28px;margin-top: 8px;margin-left: 5px; color:darkgrey;}
.header-menu{border: 1px dotted grey; padding: 25px;display: inline-block;position: relative;top:20px;right: 40px;}
.header-menu-block{list-style: none;display: inline;padding: 5px}
.header-menu-block-items{display: inline;}
.header-menu-block-items a{text-decoration:none;margin-left:33px; color: darkgrey;font-size: 19px;padding:25px;}
.header-menu-block-items a:hover{color: #000;border-bottom: 5px solid #09F;}
.header-menu-block-items a.active{color:black; border-bottom: 5px solid #09F;}
.menu-button{display: none;}
.img-computer{width: 100% \9;}
.block-welcome{display: inline-block;color: white;background:#a37b7b; padding: 30px 115px 30px 35px;position: absolute;top: -20px;left: 40px;z-index: 1000;}
.content{display: flex;align-items: center;margin-bottom: 50px;align-items: flex-start;}
.content-h2{margin-bottom: 20px}
.content-img{margin-right:23px;max-width: 225px;width: 45%;}
.content-block-2{padding: 40px;margin-left: 10px;border:1px solid grey;margin-bottom: 10px;border-radius: 25px;min-height:100%;}
.content-block-2-img{width: 30%;padding: 10px;}
.btn-secondary{margin-left: 150px;}
p{line-height: 1.5;}
.carusel-items-title{padding: 20px 200px 20px 50px;background: #67c5d2;display: inline-block;margin: 50px 10px 40px 15px;}
.footer{padding: 40px;margin: auto;}
.owl-theme .owl-controls .owl-page {display: inline-block;}
.owl-theme .owl-controls .owl-page span {
    background: none repeat scroll 0 0 #869791;
    border-radius: 20px;
    display: block;
    height: 12px;
    margin: 5px 7px;
    opacity: 0.5;
    width: 12px;
}




@media (max-width:997px){
.header-menu{border: none;}
.header_logo {display:flex;padding: 5px;}
.header-menu-block{display: none;}
.block-welcome{padding: 3px;left: 10px;top: -26px;}
.menu-button{display:block;border:2px solid black;border-radius: 3px;padding:5px;position: absolute;top:60px;right: 79px;}
.header-menu-block.open{z-index:1000; padding:0;display:block;position: absolute;right:-18px;top:35px;background: #grey; border:2px solid black;}
.header-menu-block.open li{background: #000;margin:0;}
.header-menu-block.open li a{ font-size: 15px;margin: 0px;background: white;color: black;text-decoration: none;display: block;padding: 10px;font-size: 20px;}
.header-menu-block.open li a:hover,
.header-menu-block.open li a:focus
{ font-size: 19px;margin: 0px;background: black;color: white;text-decoration: none;display: block;padding: 10px;font-size: 20px;}
.btn-secondary{margin-left: 5px;}
.col-lg-4{margin-top: 10px;}
}
@media (max-width:556px){
.header_logo {display:block;}
.content {display: block;align-items: center;margin-bottom: 0px;}
.carusel-items-title {padding: 8px 57px;background: #67c5d2;display: inline-block;margin:12px 15px 5px 27px;}
.btn-secondary {margin-left: 0;}
.content-block-2 {padding: 20px;margin-left: 10px;border: 1px solid grey;margin-bottom: 10px;border-radius: 25px;    min-height: 100%;}
.content-img {margin-bottom: 10px;max-width: 480px;width: 100%;border-radius: 10px;}
.carusel-items{margin-top: 15px;}
.col-lg-4{margin-top: 10px;}
}
@media (max-width:340px){
.content-img {margin-bottom: 10px;max-width: 300px;width: 95%;}
.header-logo-title {font-size: 30px;margin-top: 20px;margin-left: -7px;}
.headrer-logo-img {width: 90px;height: 90px;}
.carusel-items{margin-top: 15px;}
.container-fluid{min-width: 340px;}

}

