body {
 



}
.old{
	width: 1000px;
	height: 645px;
	 background: aquamarine;
	margin: 0 auto;
	
	
}
.content1{
	background: rgb(24%, 22%, 25%, 0.3);
	background: url(fon.jpg) no-repeat center top;
	
	padding: 10px 10px;
	float: left;
	width: 600px;
}
.content p{
	opacity: 1;
	text-align: center;
	
	font-size: 25px;
}
img.png{
	float: left;
	margin-left: 10px;
}
.content2{
	padding: 10px 30px;
	float: right;
	width: 280px;
}
.content2 a{
	font-size: 55px;
}