/* .red{border:1px solid red;} */


body{margin:0;padding: 0;box-sizing: border-box;font-family: 'Roboto', sans-serif;}


/* conteiner */
.container-fluid_custom{max-width: 1250px;margin-left: auto;margin-right: auto;}
/* header */

.header{width: 100%;padding: 33px 120px;}


/* header-menu */

.header-menu{justify-content: flex-end;margin-right: -35px}
.header-menu-items{text-transform: uppercase;}
.header-menu-items-item{}
.home-menu-link{display: none;}
.header-link-a{text-decoration: none; margin-left: 45px; background: none;font-size: 16px;color: black}
.active-link{color: #ed8595;}
.header-link-a:hover{text-decoration: none;color: #ed8595 }
.dropdown-item {display: block;width: 100%; padding: 6px!important;}
.dropdown-menu {position: absolute;min-width: 0!important;background-clip: padding-box;border:none;padding:0;left: -5px!important;}
.dropdown-item:hover, active{text-decoration: none;color: #ed8595;background-color: white;}

/*  welcome-img */

.welcome-img{height:700px; background-image: url(../img/fon.jpg); width: 100% \9; background-size: cover;}
.welcome-img-title{padding: 49px;width: 665px;position: absolute;top: 200px;left: 30px;}
.welcome-h2{color: #ffffff;font-size: 52px;}
.welcome-img-title-p{color: #cccccc;font-size: 17px;margin:18px 0;line-height: 2}
.welcome-img-title-btn{text-transform: uppercase;color: #cccccc;background: #e64e4e;border:none;padding: 15px 26px;font-weight: 600;font-size: 14px;margin-top: 25px;}

/* block-service */

.service{padding: 0 15px 55px;display: flex;justify-content: center;}
.block-service-h2{width: 100%;margin-top: 65px;font-weight: bold; text-align: center}
.service-title-h2{color: #4c4c4c;font-size: 50px;font-weight: 900}
.service-line{height: 4px;background: #b83e3e;width: 100px;display: block;margin:0 auto 40px auto;}
.block-service-box{height: 200px;margin-top:40px;display: flex;flex-direction: column ;align-items: center; justify-content: center;}
.block-service-box p{color:#8b7a8a ;padding: 0 10px;text-align: center;}
.block-service-box img{}

/* block-2 */

.block-2{padding:0 30px;height: 600px;background: #f5f5f3;margin-bottom: 175px;}
.block-2-img-conteiner{width: 100%;height: 100%;}
.block-2-text-h3{font-size: 49px;font-weight: 900}
.block-2-text{width: 100%;height: 100%;display: flex;flex-direction: column;align-items: center;padding: 80px 0 50px 50px;color: #4c4c4c;}
.block-2-text-p{color: #7a7a7a}


/* block-3 */

.block-3{padding:0 120px; margin-bottom: 80px;}
.block-3-conteiner{ padding: 20px;margin-top: 30px;height: 220px;background: #e64e4e;}
.block-3-conteiner img{width: 220px;height: 220px;border-radius: 220px;}
.block-3-conteiner h3, p{color: #fcffff}
.block-3-conteiner-items{display: flex;flex-direction: column;align-items: center;}
.block-3-left{ align-items: flex-start;display: flex;flex-direction: column;justify-content: center;padding:50px 140px 50px 77px;}
.block-3-right{ display: flex;flex-direction: column;justify-content: center;padding:50px 77px 50px 140px;}
.left {position: absolute; left: -80px;top: 30px;}
.right{position: absolute; right: -80px;top: 30px;}

/* blok-4 */
.block-4{height: 620px;padding: 0 15px; background-image: url(../img/block-4.jpeg);width: 100% \9; background-size: cover;}
.block-4-conteiner{}
.block-4-conteiner h2{color: white;margin-top: -25px;}
.block-4-content{background: white; ;display: flex;flex-direction: column;align-items: center; height:300px;border-radius: 15px;padding: 100px 70px 65px;}
.block-4-content h2{color: black;}
.block-4-content p{color: #7a8ab0;font-size: 18px;text-align: center;line-height: 1.5;}
.block-4-content-quotes{position: absolute;left: 40px;top: 40px;}
.block-4-content-avatar{position: absolute;bottom: 5px;box-shadow:0 0 20px #9b8787;}

/* block-5 */
.block-5{padding:0 15px; margin-bottom: 80px;}
.block-5-content{display: flex;flex-direction: column;align-items: center;box-shadow: 0 30px 30px 0 #dbdbdb;height: 100%;}
.block-5-content-img-title{height: 240px;}
.block-5-content-date{color: #9a9a9a;}
.block-5-content-img{display: flex;color: #9a9a9a;justify-content: space-between;width: 135px;margin-top: 50px;}
.block-5-content-img-clock{width: 19px;height: 19px;}
.block-5-content-date-p{text-transform: uppercase;color: black;}
.block-5-color-p{color: #9a9a9a; text-align: center;line-height: 1.5;font-size: 18px;padding: 0 25px;margin-top: 15px;}
.block-5-content h4{padding: 0 10px;font-size: 20; text-align: center;}
/* footer */
.footer-padding{padding:0 15px;}
.footer{padding: 15px;background: #e64e4e;}
.footer p{margin: 0; font-size: 20px}


/* @MEDIA */


@media (max-width:989px){
.container-fluid_custom{max-width: 989px}
.header{padding: 33px 60px}
.service{padding: 0 0px 40px;}
.header-menu-items{text-transform: uppercase;margin-right: 20px;/* align-items: baseline; */}
.footer-padding{padding:0 0px;}
.block-3-conteiner img{width: 150px;height: 150px;}
.left{left: 310px;top:-10px;}
.right{left: 310px;top:-10px;}
.block-4{height: 620px;padding: 0 0px;}
.block-5{padding:0 0px; margin-bottom: 80px;}
.block-5-color-p{padding: 10px 25px;}
.block-3{padding:0; margin-bottom: 25px;}
.block-2{padding:0 ;height: 515px;margin-bottom: 10px;}
.block-2-text{padding: 20px 15px 20px;}
.block-2-text-h3{font-size: 24px;}
.block-2-text-p{font-size: 15px;}
.welcome-img-title{padding: 25px}
.block-3-conteiner{padding: 10px;justify-content: end;margin-top: 50px;}
.block-3-left{align-items: center;justify-content: flex-end;}
.block-3-right{align-items: center;justify-content: flex-end;}
.welcome-img-title-btn{padding: 10px 20px;}
.service-title-h2{font-size: 40px;}
.block-service-box{margin-top: 0;height: 150px;}
.block-5-content-img-title {height: 240px;margin-top: 30px;}
.dropdown-item {display: block;width: 100%; padding: 6px!important;}
.dropdown-menu {position: absolute;min-width: 0!important;background-clip: padding-box;border:none;padding:13px;left: -23px!important;}
.dropdown-item:hover, active{text-decoration: none;color: #ed8595;background-color: white;}


}
@media  (max-width:765px){
.container-fluid_custom{width: 765px}
   /* padding */

.footer-padding{padding:0 0px;}
.block-4{height: 620px;padding: 0 0px;}
.block-5{padding:0 20px; margin-bottom: 80px;}
.block-3{padding:0 90px; margin-bottom: 80px;}
.block-2{padding:0 ;height: 600px;}
.welcome-img-title{padding: 0px}
.header {width: 100%;padding: 33px 35px;}
.header-link-a{margin-left: 0px;}


.block-3-conteiner img{display: none}
.block-3-conteiner{align-items: center;}
.welcome-img{height: 610px}
.welcome-img-title{padding: 35px;width: 480px;}
.welcome-h2 { color: #ffffff;font-size: 35px;}
.block-service-h2{margin-top: 10px;}
.dropdown-item {display: block;width: 100%; padding: 6px!important;}
.dropdown-menu {position: absolute;min-width: 0!important;background-clip: padding-box;border:none;padding:13px;left: -23px!important;}
}



@media (max-width:600px){
.container-fluid_custom{width: 600px}
.block-3 {padding: 0 80px;}
.welcome-img-title{padding: 20px;width: 405px; left: 7%;}
.block-2 h2 {font-size: 19px;font-weight: 900;}
.block-service-h2 {width: 100%;margin-top: 5px;font-weight: bold;}
.service-title-h2 {color: #4c4c4c;font-size: 40px;font-weight: 900;}
   /* padding */
.footer-padding{padding:0 0px;}
.block-4{height: 620px;padding: 0 0px;}
.block-5{padding:0 20px; margin-bottom: 80px;}
.block-3{padding:0 90px; margin-bottom: 20px;}
.block-3-conteiner{margin-top: 20px;}
.block-2{padding:0 20px;height: 930px;}
.block-2-text{padding: 10px;}
.welcome-img {height: 450px;}
.welcome-img-title{padding: 15px;top: 130px;}
.welcome-img-title-p{line-height: 1.4;}
.header {width: 100%;padding: 33px 36px;}
.header-link-a{margin-left: 0px;}
.service-line {margin-bottom: 20px;}
.welcome-img-title-btn {padding: 3px 13px;font-size: 10px;margin-top: 0;}
.block-3-right {align-items: center;justify-content: center;}
.block-3-left {align-items: center;justify-content: center;}
.dropdown-item {display: block;width: 100%; padding: 6px!important;}
.dropdown-menu {position: absolute;min-width: 0!important;background-clip: padding-box;border:none;padding:13px;left: -23px!important;}
.dropdown-item:hover, active{text-decoration: none;color: #ed8595;background-color: white;}

}

@media (max-width:460px){
.container-fluid_custom{width: 320px}
.welcome-img{height: 460px;}
.welcome-h2{font-size: 20px;}
.welcome-img-title {padding: 20px; width: 280px;left: 20px; top:130px}
.service { padding: 0 5px 0px;}
.service-title-h2{font-size: 30px;}
.block-2 {padding: 0 20px;height: 930px;}
.block-3 {padding: 0 20px;margin-bottom: 50px;margin-top: 90px;}
.block-3-conteiner h2{font-size: 26px;}
.block-4{padding: 20px 20px;}
.block-4-content {height: 200px;}
.block-5 {padding: 0 10px;margin-bottom: 20px;}
.block-5-content{height: 650px;margin-bottom: 20px;}
.header{padding: 33px 35px 33px 0}
.block-2-img-conteiner { width: 100%;height: 100%;margin: 20px 0;}
.footer-padding {padding: 0 10px;}
.header-menu {justify-content: flex-end;margin-right: 0;}
.header-menu-items{margin-right: 0;}
.header-link-a{margin-left: 5px;}
.block-service-box img {width: 50px; margin-top: 30px;}
.block-service-box{text-align: center;height: 190px}
.block-2-text {padding: 10px;margin-bottom: 30px;}


   /* padding */
.footer-padding{padding:0}
.block-4{height: 620px;padding: 0 5px;}
.block-5{padding:0 ; margin-bottom: 30px;}
.block-3{padding:0 ; margin-bottom: 30px;}
.block-2{padding:0 20px;height: 645px;margin-top: 40px;}
.welcome-img-title{padding: 15px}
.welcome-img-title-btn {padding: 5px 10px;}
.dropdown-item {display: block;width: 100%; padding: 6px!important;}
.dropdown-menu {position: absolute;min-width: 0!important;background-clip: padding-box;border:none;padding:13px;left: -6px!important;}
.dropdown-item:hover, active{text-decoration: none;color: #ed8595;background-color: white;}


}
