/* .red{border:1px solid red;} */


body{margin:0;padding: 0;box-sizing: border-box;font-family: 'Roboto', sans-serif;}


/* conteiner */
.container-fluid_custom{max-width: 1250px;margin-left: auto;margin-right: auto;}
/* header */

.header{width: 100%;padding: 33px 120px;}


/* header-menu */

.header-menu{justify-content: flex-end;margin-right: -25px}
.header-menu-items{text-transform: uppercase;}
.header-menu-items-item{}
.home-menu-link{display: none;}
.header-link-a{text-decoration: none; margin-left: 45px; background: none;font-size: 16px;color: black}
.active-link{color: #ed8595;}
.header-link-a:hover{text-decoration: none;color: #ed8595 }

/*  welcome-img */

.welcome-img{height:700px; background-image: url(../img/fon.jpg); width: 100% \9; background-size: cover;}
.welcome-img-title{padding: 49px;width: 665px;position: absolute;top: 200px;left: 30px;}
.welcome-h2{color: #ffffff;font-size: 52px;}
.welcome-img-title-p{color: #cccccc;font-size: 17px;margin:18px 0;line-height: 2}
.welcome-img-title-btn{text-transform: uppercase;color: #cccccc;background: #e64e4e;border:none;padding: 13px 26px;font-weight: 600;font-size: 14px}

/* block-service */

.service{padding: 0 15px 55px;display: flex;justify-content: center;}
.block-service-h2{width: 100%;margin-top: 100px;font-weight: bold; text-align: center}
.service-title-h2{color: #4c4c4c;font-size: 50px;font-weight: 900}
.service-line{height: 4px;background: #b83e3e;width: 100px;display: block;margin:0 auto 40px auto;}
.block-service-box{height: 200px;margin-top:0px;display: flex;flex-direction: column ;align-items: center; justify-content: center;}
.block-service-box p{color:#8b7a8a ;padding: 0 10px;text-align: center;}
.block-service-box img{}

/* block-2 */

.block-2{padding:0 30px;height: 600px;background: #f5f5f3;margin-bottom: 175px;}
.block-2-img-conteiner{width: 100%;height: 100%;}
.block-2 h2{font-size: 49px;font-weight: 900}
.block-2-text{width: 100%;height: 100%;display: flex;flex-direction: column;align-items: center;padding: 80px 0;}


/* block-3 */

.block-3{padding:0 110px; margin-bottom: 80px;}
.block-3-conteiner{ padding: 20px;margin-top: 30px;height: 200px;background: #e64e4e;}
.block-3-conteiner img{width: 200px;height: 200px;border-radius: 220px;}
.block-3-conteiner-items{display: flex;flex-direction: column;align-items: center;}
.block-3-left{ align-items: flex-start;display: flex;flex-direction: column;justify-content: center;}
.block-3-right{ align-items: flex-end;display: flex;flex-direction: column;justify-content: center;}
.left {position: absolute; left: -80px;top: 30px;}
.right{position: absolute; right: -80px;top: 30px;}

/* blok-4 */
.block-4{height: 620px;padding: 0 15px;}
.block-4-conteiner{}
.block-4-conteiner h2{color: white;}
.block-4-content{display: flex;flex-direction: column;align-items: center; height:300px;}
.block-4-content h2{color: black;}

/* block-5 */
.block-5{padding:0 15px; margin-bottom: 80px;}
.block-5-content{display: flex;flex-direction: column;align-items: center;height: 570px;}

/* footer */
.footer-padding{padding:0 15px;}
.footer{padding: 15px;}
.footer p{margin: 0;}


/* @MEDIA */


@media (max-width:989px){

.service{padding: 0 0px 80px;}
.header-menu-items{text-transform: uppercase;margin-right: 45px;align-items: baseline;}
.footer-padding{padding:0 0px;}
.block-4{height: 620px;padding: 0 0px;}
.block-5{padding:0 0px; margin-bottom: 80px;}
.block-3{padding:0 90px; margin-bottom: 80px;}
.block-2{padding:0 15px;height: 600px;}
.welcome-img-title{padding: 25px}

/* .left {position: absolute; left: -80px;top: 30px;}
.right{position: absolute; right: -80px;top: 30px;} */


}
@media  (max-width:765px){
	/* padding */
.footer-padding{padding:0 0px;}
.block-4{height: 620px;padding: 0 0px;}
.block-5{padding:0 20px; margin-bottom: 80px;}
.block-3{padding:0 90px; margin-bottom: 80px;}
.block-2{padding:0 20px;height: 600px;}
.welcome-img-title{padding: 0px}
.header {width: 100%;padding: 33px 35px;}
.header-link-a{margin-left: 0px;}



.block-3-conteiner img{display: none}
.block-3-conteiner{align-items: center;}
.welcome-img{height: 610px}
.welcome-img-title{padding: 35px;width: 480px;}
.welcome-h2 { color: #ffffff;font-size: 35px;}
.block-service-h2{margin-top: 10px;}

}



@media (max-width:600px){
.block-3 {padding: 0 80px;}
.welcome-img-title{padding: 20px;width: 405px; left: 7%;}
.block-2 h2 {font-size: 30px;font-weight: 900;}
.block-service-h2 {width: 100%;margin-top: 5px;font-weight: bold;}
.service-title-h2 {color: #4c4c4c;font-size: 40px;font-weight: 900;}
	/* padding */
.footer-padding{padding:0 0px;}
.block-4{height: 620px;padding: 0 0px;}
.block-5{padding:0 20px; margin-bottom: 80px;}
.block-3{padding:0 90px; margin-bottom: 80px;}
.block-2{padding:0 20px;height: 600px;}
.welcome-img-title{padding: 15px}
.header {width: 100%;padding: 33px 35px;}
.header-link-a{margin-left: 0px;}

}

@media (max-width:460px){
.welcome-img {width: 100%;height: 430px;}
.welcome-h2{font-size: 20px;}
.welcome-img-title {padding: 20px; width: 280px;left: 20px; top:130px}
.service { padding: 0 5px 0px;}
.service-title-h2{font-size: 30px;}
.block-2 {padding: 0 20px;height: 450px;}
.block-3 {padding: 0 20px;margin-bottom: 50px}
.block-3-conteiner h2{font-size: 26px;}
.block-4{padding: 20px 20px;}
.block-4-content {height: 200px;}
.block-5 {padding: 0 10px;margin-bottom: 20px;}
.block-5-content{height: 350px;margin-bottom: 20px;}
.header{padding: 33px 50px 33px 0}
.block-2-img-conteiner { width: 100%;height: 100%;margin: 20px 0;}
.footer-padding {padding: 0 10px;}
.header-menu-items{margin-right: 0;}
.header-link-a{margin-left: 5px;}
	/* padding */
.footer-padding{padding:0 5px;}
.block-4{height: 620px;padding: 0 5px;}
.block-5{padding:0 5px; margin-bottom: 80px;}
.block-3{padding:0 5px; margin-bottom: 80px;}
.block-2{padding:0 20px;height: 600px;}
.welcome-img-title{padding: 15px}
.welcome-img-title-btn {padding: 5px 10px;}



}
