body{margin:0;padding: 0;box-sizing: border-box;font-family: 'Roboto', sans-serif;}


/* conteiner */

/* header */

.header{width: 100%;padding: 33px 20px;}


/* header-menu */

.header-menu{justify-content: flex-end;}
.header-menu-items{text-transform: uppercase;}
.header-menu-items-item{}
.home-menu-link{display: none;}
.header-link-a{text-decoration: none; margin-left: 40px; background: none;font-size: 16px;color: black}
.active-link{color: #ed8595;}
.header-link-a:hover{text-decoration: none;color: #ed8595 }

/*  welcome-img */

.welcome-img{width: 100%;height:800px;}
.welcome-img-title{padding: 50px;width: 700px;position: absolute;top: 200px;left: 18%;}
.welcome-h2{color: #ffffff;font-size: 52px;}
.welcome-img-title-p{color: #cccccc;font-size: 14px;margin:18px 0;line-height: 2}
.welcome-img-title-btn{text-transform: uppercase;color: #cccccc;background: #e64e4e;border:none;padding: 13px 26px;font-weight: 600;font-size: 14px}

/* block-service */

.service{}
.block-service-h2{width: 100%;margin-top: 100px;}
.service-h2{color: #4c4c4c;font-size: 52px;}
.service-line{height: 4px;background: #b83e3e;width: 100px;display: block;margin:0 auto 100px auto;}


