.red{border:1px solid red;}
/* .blue{border: 1px solid blue;} */

body{margin:0;padding: 0;box-sizing: border-box;font-family: 'Roboto', sans-serif;}


/* conteiner */

/* header */

.header{max-width: 1440px;;padding: 33px 20px;}


/* header-menu */

.header-menu{justify-content: flex-end;}
.header-menu-items{text-transform: uppercase;}
.header-menu-items-item{}
.home-menu-link{display: none;}
.header-link-a{text-decoration: none; margin-left: 30px; background: none;font-size: 16px;color: black}
.active-link{color: #ed8595;}
.header-link-a:hover{text-decoration: none;color: #ed8595 }

/*  welcome-img */

.welcome-img{width: 100%;height:700px;}
.welcome-img-title{padding: 49px;width: 700px;position: absolute;top: 200px;left: 7%;}
.welcome-h2{color: #ffffff;font-size: 52px;}
.welcome-img-title-p{color: #cccccc;font-size: 14px;margin:18px 0;line-height: 2}
.welcome-img-title-btn{text-transform: uppercase;color: #cccccc;background: #e64e4e;border:none;padding: 13px 26px;font-weight: 600;font-size: 14px}

/* block-service */

.service{padding: 0 50px 90px;display: flex;justify-content: center;}
.block-service-h2{width: 100%;margin-top: 100px;font-weight: bold;}
.service-title-h2{color: #4c4c4c;font-size: 50px;font-weight: 900}
.service-line{height: 4px;background: #b83e3e;width: 100px;display: block;margin:0 auto 40px auto;}
.block-service-box{width: 310px;height: 230px;margin:0 0 50px;display: flex;flex-direction: column ;align-items: center; justify-content: center;}
.block-service-box p{color:#8b7a8a ;}

/* block-2 */

.block-2{padding:0 50px;height: 600px;background: #f5f5f3;}
.block-2-img{width: 50%;}
.block-2 h2{font-size: 49px;font-weight: 900}
.block-2-text{width: 50%;display: flex;flex-direction: column;align-items: center;padding: 80px 0;}

/* block-3 */

.block-3{padding:0 120px;}
.block-3-conteiner{margin:0px;}
.block-3-conteiner img{width: 80px;height: 80px;border-radius: 220px;}
.block-3-conteiner-items{display: flex;flex-direction: column;align-items: center;}

