/* .red{border:1px solid red;} */


body{margin:0;padding: 0;box-sizing: border-box;font-family: 'Roboto', sans-serif;}


/* conteiner */
.container-fluid_custom{max-width: 1250px;margin-left: auto;margin-right: auto;}
/* header */

.header{width: 100%;padding: 33px 120px;}


/* header-menu */

.header-menu{justify-content: flex-end;margin-right: -50px}
.header-menu-items{text-transform: uppercase;}
.header-menu-items-item{}
.home-menu-link{display: none;}
.header-link-a{text-decoration: none; margin-left: 45px; background: none;font-size: 16px;color: black}
.active-link{color: #ed8595;}
.header-link-a:hover{text-decoration: none;color: #ed8595 }
.dropdown-item {display: block;width: 100%; padding: 6px 10px!important;}
.dropdown-menu {position: absolute;min-width: 0!important;background-clip: padding-box;border:none;padding:0;left: -10px!important;    box-shadow: -1px 1px 20px;}
.dropdown-item:hover, active{text-decoration: none;color: #ed8595;background-color: white;}

/*  welcome-img */
.welcomme-bg{ background-image: url(../img/fon.jpg);/*  width: 100% \9; */ background-size: cover;}
.welcomme-bg-2{ background-image: url(../img/fon-2.jpg);/*  width: 100% \9; */ background-size: cover;}
.welcomme-bg-3{ background-image: url(../img/fon-3.jpg);/*  width: 100% \9; */ background-size: cover;}
.welcome-img{height:610px;width: 100%;}
.welcome-img-title{padding: 49px;width: 660px;position: absolute;top: 200px;left: 30px;}
.welcome-h2{color: #ffffff;font-size: 52px;}
.welcome-img-title-p{color: #ffffff;font-size: 17px;margin:18px 0;line-height: 1.7}
.welcome-img-title-btn{text-transform: uppercase;color: #cccccc;background: #e64e4e;border:none;padding: 16px 32px;font-weight: 600;font-size: 14px;margin-top: 5px;}
.bx-wrapper {-moz-box-shadow: 0 0 5px #ccc;margin-bottom: 0!important;-webkit-box-shadow: none!important; box-shadow: none!important;border: 5px solid #fff;background: #fff;margin: 0 -20px;}
.bxslider{height: 100%}
.bx-wrapper .bx-prev:hover{opacity: 1}
.bx-wrapper .bx-prev { left: 10px;background: none;opacity: 0.4;}
.bx-wrapper .bx-next:hover{opacity: 1;}
.bx-wrapper .bx-next {right: 10px;background:none;opacity: 0.4;}
.bx-wrapper .bx-controls-direction a {width: 25px;z-index: 1029;}






/* block-service */

.service{padding: 0 0 55px;display: flex;justify-content: center;}
.block-service-h2{width: 100%;margin-top: 80px;font-weight: bold; text-align: center}
.service-title-h2{color: #4c4c4c;font-size: 50px;font-weight: 900}
.service-line{height: 4px;background: #b83e3e;width: 100px;display: block;margin:0 auto 30px auto;}
.block-service-box{height: 200px;margin-top:40px;display: flex;flex-direction: column ;align-items: center; justify-content: center;}
.block-service-box p{color:#8b7a8a ;padding: 0 10px;text-align: center;}
.block-service-box img{}

/* block-2 */

.block-2{padding:0;height: 650px;background: #f5f5f3;}
.block-2-img-conteiner{width: 100%;height: 100%;}
.block-2-text-h3{font-size: 49px;font-weight: 900}
.block-2-text{width: 100%;height: 100%;display: flex;flex-direction: column;align-items: center;padding: 80px 0 50px 50px;color: #4c4c4c;}
.block-2-text-p{color: #7a7a7a;margin-bottom: 45px;}
.img-fluid {width: 100%;height: 100%;}

/* block-3 */

.block-3{padding:0 90px; margin-bottom: 0;}
.block-3-conteiner{ padding: 20px;margin-top: 30px;height: 220px;background: #e64e4e;}
.block-3-conteiner img{width: 220px;height: 220px;border-radius: 220px;}
.block-3-conteiner h3, p{color: #fcffff}
.block-3-conteiner-items{display: flex;flex-direction: column;align-items: center;}
.block-3-left{ align-items: flex-start;display: flex;flex-direction: column;justify-content: center;padding:50px 140px 50px 77px;}
.block-3-right{ display: flex;flex-direction: column;justify-content: center;padding:50px 77px 50px 140px;}
.left {position: absolute; left: -90px;top: 30px;}
.right{position: absolute; right: -90px;top: 30px;}

/* blok-4 */
.block-4{height: 620px;padding: 0 40px; background-image: url(../img/block-4.jpeg);width: 100% \9; background-size: cover;}
.block-4-conteiner{}
.block-4-conteiner h2{color: white;margin-top: -25px;}
.block-4-content{background: white;width: 540px ;display: flex;flex-direction: column;align-items: center; height:300px;border-radius: 15px;padding: 100px 70px 65px;}
.block-4-content h2{color: black;}
.block-4-content p{color: #7a8ab0;font-size: 18px;text-align: center;line-height: 1.5; overflow: hidden;}
.block-4-content-quotes{position: absolute;left: 40px;top: 40px;}
.block-4-content-avatar{margin-left: 220px;margin-top: -65px;box-shadow:0 0 20px #9b8787;}
.slick-prev {left: -5px;}
.slick-next {right: 25px;}
.slick-next:before,
.slick-prev:before  {font-family: 'slick';font-size: 50px;line-height: 1;opacity: .75;color: red;}
.slick-prev,
.slick-next {z-index: 5;top: 38%;}
.slick-list {overflow-y: visible;}

/* block-5 */
.block-5{padding:0 ;margin-top: 40px; margin-bottom: 80px;display: flex;flex-wrap: nowrap;height: 100%;justify-content: space-between;}
.block-5-content{display: flex;flex-direction: column;align-items: center;box-shadow: 0 30px 30px 0 #dbdbdb;max-width: 395px;}
.block-5-content-img-title{height: auto;}
.block-5-content-date{color: #9a9a9a;}
.block-5-content-img{display: flex;color: #9a9a9a;justify-content: space-between;width: 135px;margin-top: 50px;}
.block-5-content-img-clock{width: 19px;height: 19px;}
.block-5-content-date-p{text-transform: uppercase;color: black;}
.block-5-color-p{color: #9a9a9a; text-align: center;line-height: 1.5;font-size: 18px;padding: 0 25px;margin-top: 15px;}
.block-5-content h4{padding: 0 10px;font-size: 20; text-align: center;}
/* footer */
.footer-padding{padding:0}
.footer{padding: 15px;background: #e64e4e;}
.footer p{margin: 0; font-size: 20px}
/* padding */
.padding{margin-right: -30px;
    margin-left: -30px;}
    */
.bx-wrapper .bx-controls-direction a{top: 70%!important;}
.bx-wrapper .bx-pager {bottom: 25px!important;}
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active .bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active{background: red!important;}
.bx-wrapper .bx-pager.bx-default-pager a { background: white!important;}
.bx-wrapper .bx-pager.bx-default-pager a { background: #666;text-indent: -9999px;display: block;width: 15px;height: 15px;margin: 0 5px;outline: 0;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 8px;opacity: 0.8}

/* @MEDIA */


@media (max-width:1260px){
.bx-wrapper .bx-prev { left: 2px;background: none;opacity: 0.5;}
.bx-wrapper .bx-next:hover{opacity: 1;}
.bx-wrapper .bx-next {right: 2px;background:none;opacity: 0.5;}
.bx-wrapper .bx-controls-direction a {width: 20px;top: 58%!important;}
.welcome-h2 { color: #ffffff;font-size: 30px;}
.img-fluid {max-width: 100%;height: auto;width: 100%;}
.container-fluid_custom{max-width: 989px}
.header-menu {justify-content: flex-end;margin-right: -19px;margin-top: 15px;}
.header{padding: 33px 60px}
.header-link{margin-top: 10px;}
.service{padding: 10px 0px 40px;}
.header-menu-items{text-transform: uppercase;margin-right: 20px;/* align-items: baseline; */}
.footer-padding{padding:0 0px;}
.block-3-conteiner img{width: 130px;height: 130px;}
.left{left: auto;top:-0;}
.right{right:auto;top:-0;}
.block-4{height: 620px;padding: 0 75px;}
.block-4-margin{margin: 0 30px;}
.block-4-content {width: 385px}
.slick-next {right: 15px;}
.block-4-content-avatar { margin-left: 140px; margin-top: -15px;}
   .block-5-content{max-width: 310px;}
.block-5{padding:0 0px; margin-bottom: 80px;}
.block-5-color-p{padding: 10px 25px;}
.block-3{padding:0; margin-bottom: 25px;}
.block-2{padding:0 ;height: auto;margin-bottom: 10px;}
.block-2-text{padding: 20px 15px 20px;}
.block-2-text-h3{font-size: 24px;}
.block-2-text-p{font-size: 15px;}
.welcome-img-title{padding: 25px}
.block-3-conteiner{padding: 10px;justify-content: end;margin-top: 75px;}
.block-3-left{align-items: center;justify-content: flex-end;margin-bottom: 20px;}
.block-3-right{align-items: center;justify-content: flex-end;}
.welcome-img-title-btn{padding: 10px 20px;}
.service-title-h2{font-size: 40px;}
.block-service-box{margin-top: 40px;height: 220px;}
.block-5-content-img-title {height: auto;margin-top: 30px;}
.dropdown-item {display: block;width: 100%; padding: 6px!important;}
.dropdown-menu {position: absolute;min-width: 0!important;background-clip: padding-box;border:none;padding:13px;left: -23px!important;}
.dropdown-item:hover, active{text-decoration: none;color: #ed8595;background-color: white;}


}
@media (min-width:768px)and (max-width:985px) {
.container-fluid_custom{max-width: 768px}
   /* padding */
.bx-wrapper .bx-controls-direction a {width: 20px;top: 56%!important;}
.header-menu {margin-right: -20px;}
.footer-padding{padding:0 0px;}
.block-4{height: 620px;padding: 0 0px;}
.block-4-content {width: 345px;}
.block-4-margin{margin: 0 30px;}
.block-4-content p {font-size: 15px}
.block-4-content-avatar {margin-left: 125px;margin-top: -30px;}
.block-5{padding:0 ; margin-bottom: 80px;}
.block-5-content{max-width: 236px;}
.block-3{padding:0 ; margin-bottom: 0px;}
.block-2{padding:0 ;height: 395px;}
.block-2-text-p {margin-bottom: 10px}
.welcome-img-title{padding: 0px}
.header {width: 100%;padding: 33px 35px;}
.header-link-a{margin-left: 0px;}
.block-3-conteiner img{width: 110px;height: 110px;margin-top: 20px;}
.block-service-box img {width: 40px;height: auto;}

/* .block-3-conteiner img{display: none} */
.block-3-conteiner{align-items: center;height: 200px;}
.welcome-img{height: 610px}
.welcome-img-title{padding: 35px;width: 480px;}
.welcome-h2 { color: #ffffff;font-size: 35px;}
.block-service-h2{margin-top: 30px;}
.dropdown-item {display: block;width: 100%; padding: 6px!important;}
.dropdown-menu {position: absolute;min-width: 0!important;background-clip: padding-box;border:none;padding:13px;left: -23px!important;}
}



@media (min-width:460px)and (max-width:767px){
.bx-wrapper .bx-controls-direction a {width: 20px;top: 58%!important;}
.container-fluid_custom{max-width: 600px}
.block-service-box img {width: 40px;height: auto;}
.block-3 {padding: 0;}
.welcome-img-title{padding: 20px;width: 405px; left: 7%;}
/* .block-2 h2 {font-size: 19px;font-weight: 900;} */
.block-service-h2 {width: 100%;margin-top: 30px;font-weight: bold;}
.service-title-h2 {color: #4c4c4c;font-size: 40px;font-weight: 900;}
.block-2-text-h3 {font-size: 30px;}
   /* padding */
.footer-padding{padding:0 0px;}
.left{left: auto;top:10px;}
.right{right:auto;top:10px;}
.block-4{height: 620px;padding: 0 0px;}
.block-4-content {width: 545px;}
.block-4-content-avatar {margin-left: 220px;margin-top: -60px;}
.block-4-margin{margin: 0;}
.block-5{padding:0 ; margin-bottom: 80px;flex-wrap: wrap;justify-content: center;}
.block-5-conteiner h2{margin-top: 10px;}
.block-3{padding:0 ; margin-bottom: 20px;margin-top: 50px;}
.block-3-conteiner{margin-top: 75px;height: 220px;}
.block-2{padding:0;height: auto;}
.block-2-text{padding: 10px;}
.welcome-img {height: 450px;}
.welcome-img-title{padding: 15px;top: 130px;}
.welcome-img-title-p{line-height: 1.4;}
.header {width: 100%;padding: 33px 36px;}
.header-link-a{margin-left: 0px;}
.service-line {margin-bottom: 20px;}
.welcome-img-title-btn {padding: 3px 13px;font-size: 10px;margin-top: 0;}
.block-3-right {align-items: center;justify-content: flex-end;}
.block-3-left {align-items: center;justify-content: flex-end;}
.dropdown-item {display: block;width: 100%; padding: 6px!important;}
.dropdown-menu {position: absolute;min-width: 0!important;background-clip: padding-box;border:none;padding:13px;left: -23px!important;}
.dropdown-item:hover, active{text-decoration: none;color: #ed8595;background-color: white;}

}
@media (max-width:560px){
.block-3-conteiner img {
    width: 150px;
    height: 150px;
}
}

@media (min-width:310px)and (max-width:576px){
.bx-wrapper .bx-controls-direction a {width: 20px;top: 58%!important;}
.bx-wrapper .bx-controls-direction a :hover{opacity: 1}
.bx-wrapper .bx-pager.bx-default-pager a {width: 8px;height: 8px}
.bx-wrapper .bx-controls-direction a{top: 58%!important;}
.service-line{margin-bottom: 0;}
.container-fluid_custom{width: 320px}
.welcome-img{height: 460px;}
.welcome-h2{font-size: 20px;}
.welcome-img-title {padding: 20px; width: 260px;left: 20px; top:130px}
.service { padding: 0 ;}
.service-title-h2{font-size: 30px;}
.block-2 {padding: 0 20px;height: 930px;}
.block-3 {padding: 0 20px;margin-bottom: 50px;margin-top: 40px;}
.block-3-conteiner{height: 240px;}
.block-3-conteiner h2{font-size: 26px;}
.block-3-conteiner img{margin-top: 10px;width: 130px;height: 130px}
.block-4{padding: 20px 20px;}
.block-4-content {height: 200px;width: 260px;padding: 10px 35px 60px}
.block-4-content h3{font-size: 20px;}
.block-4-content-quotes {position: absolute;left: 20px;top: 20px;width: 30px;}
.block-4-content-avatar {margin-left: 80px;margin-top: -63px;}
.block-4-content p {color: #7a8ab0; font-size: 14px;}
   .block-5 {padding: 0 10px;margin-bottom: 20px;flex-wrap: wrap; flex-direction: column;align-items: center;}
.block-5-content{height: 650px;margin-bottom: 30px;}
.block-5-conteiner h2{margin-top: 10px;}
.header{padding: 33px 35px 33px 0}
.block-2-img-conteiner { width: 100%;height: auto;margin: 20px 0;}
.footer-padding {padding: 0 10px;}
.header-menu {justify-content: flex-end;margin-right: 0;}
.header-menu-items{margin-right: 0;}
.header-link-a{margin-left: 5px;}
.block-service-box img {width: 50px; margin-top: 30px;}
.block-service-box{text-align: center;height: 220px}
.block-2-text {padding: 10px;margin-bottom: 30px;margin-top: 20px;}
.block-service-h2{margin-top: 30px;}


   /* padding */
.footer-padding{padding:0;}
.footer{box-shadow: -1px -2px 20px;}
.block-4{height: 620px;padding: 0 5px;}
.block-5{padding:0 ; margin-bottom: 30px;}
.block-3{padding:0 ; margin-bottom: 30px;}
.block-2{padding:0 ;height: auto;margin-top: 40px;}
.welcome-img-title{padding: 15px}
.welcome-img-title-btn {padding: 5px 10px;}
.dropdown-item {display: block;width: 100%; padding: 6px!important;}
.dropdown-menu {position: absolute;min-width: 0!important;background-clip: padding-box;border:none;padding:13px;left: 0!important;}
.dropdown-item:hover, active{text-decoration: none;color: #ed8595;background-color: white;}


}
