.header,
.colum1,
.colum2,
.colum3 {
  text-align: center;
  margin-bottom: 15px;

  padding: 15px;

  font-size: 20px;
  color: black;
}
.header {
  background: cadetblue;
  border-radius: 15px;
}
.old {
  position: relative;
}
.old div {
  position: absolute;
}
.colum1 {
  background: green;
  width: 33%;

  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.colum2 {
  background: greenyellow;
  width: 33%;
  left: 33%;
}
.colum3 {
  background: rgb(148, 87, 87);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;

  width: 34%;
  right: 0;
}
